body{
    background-color: rgb(41, 63, 76);
    color : rgb(228, 255, 212);
    margin : 0 7px 0 7px;
}

header{
    padding: 5%;
    font-size: 20px;
    display: flex;
    height : 25px;
}

footer{
    margin: 100% -8px -8px -8px;
    background-color: #868686;
    padding: 5%;
    font-size: 20px;
    color: rgb(255, 255, 255);
    display: flex;
    height : 10%;
}

header ul{
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    width : 80%;
    list-style-type: none;
    align-items: center;
    padding : 0;
}

li a {
    text-decoration: none;
    color : rgb(228, 255, 212);
    font-size: 25px;
    font-weight: bold;
    font-family: "Calibri";
}

#headerUml{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#headerPhp{
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#images_uml{
    margin-top : 2%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#images_php{
    margin-top : 2%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.imageUml{
    width: 25%;
    border : 2px solid black;
}
.imagePhp{
    width: 25%;
}

#instruction_uml{
    width : 50%;
}

#texte_uml{
    margin-top : 5%;
    display: flex;
    justify-content: center;
}
