/* Styles généraux */
body {
    background-color: #1E385C;
    color: #FFFFFF;
    margin: 0 7px;
    font-family: 'Roboto', sans-serif;
}

header, footer {
    padding: 5%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: #1E385C;
    color: #FFF;
    height: 10%;
}

header ul {
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    list-style-type: none;
    align-items: center;
    padding: 0;
}

li a {
    text-decoration: none;
    color: #FFF;
    font-size: 25px;
    font-weight: bold;
}

li a:hover {
    color: rgb(249, 249, 20);
}

#indexHeader {
    color: rgb(249, 249, 20);
}


/* Styles spécifiques pour les sections */
#presentation,
#etudes {
    width: 70%;
    margin: 5% auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

#presentation h2,
#etudes h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
}

#presentation p,
#etudes p {
    text-align: justify;
    font-size: 18px;
}
